body {
  background-color: #4a4063;
  color: #fff;
  font-family: 'SF Pixelate', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin-top: 20px;
}

button {
  margin-top: 20px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #d95d39;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

input {
  margin-top: 20px;
  appearance: none;
  font-family: 'SF Pixelate', sans-serif;
  border: none;
  width: 300px;
  padding: 10px;
  background: #fff;
  color: #4a4063;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4px;
}